[user]
	name = Colton Grainger
	email = colton.grainger@gmail.com

[core]
	editor = vim
	pager = less -+S
	excludesfile = ~/.cvsignore
	attributesfile = ~/.gitattributes_global

[color]
	ui = auto

[alias]
	# https://gist.github.com/mwhite/6887990
	tree = log --graph --oneline --all
	root = rev-list --max-parents=0 HEAD
	diff = diff --color
	dc = diff --cached
	ds = diff --stat
	pushall = "!for i in `git remote`; do git push $i; done;"
	pullall = "!for i in `git remote`; do git pull $i; done;"
	cm = commit -m
	co = checkout
	br = branch
	la = "!git config -l | grep alias | cut -c 7-"

[push]
	default = simple

[status]
	showUntrackedFiles = no

[url "git@github.com:"]
	insteadOf = https://github.com/

[diff]
# https://stackoverflow.com/a/28017534/8475967
# git diff compares the (i)ndex and the (w)ork tree;
; git diff HEAD compares a (c)ommit and the (w)ork tree;
; git diff --cached compares a (c)ommit and the (i)ndex;
; git diff HEAD:file1 file2 compares an (o)bject and a (w)ork tree entity;
	mnemonicprefix = true

[fetch]
# Automatically prune stale branches from the remote on every
# fetch (hence pull). https://stackoverflow.com/a/18718936/8475967
	prune = true
